html {
  font-family: 'Avenir Next';
}


.text-center {
  text-align: center;
}

.logoo{
  display: flex;
  margin-top: 5px;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  justify-content: space-around;
}

.avatar {
  width: 30px;
  border-radius: 50%;
}
.avatar-bordered {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-large {
  width: 50px;
}

.banner {
  color: white;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('banner1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 650px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  background-color: #1A2A3A;
}
.banner .btn {
  margin-top: 20px;
}

.btn-treehouse {
  color: white;
  padding: 25px 35px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.subsub{
    margin-bottom: 40px;
    margin-top: 44px;
    color: #1A2A3A;
}

.line1{
 justify-content: space-between;
 margin-right: 17px;
 align-items: center;
}

.flags{
  margin-left: 45%;
  margin-right: 5px;
}

.location{
  margin-right: 5px;
}

.price{
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 25px;
  margin-top: 39%;
}

.picture {
  border-radius: 50%;
  border: #D9D9D9 1.5px solid;
  size: 25%;
}

.contact{
  margin-left: 2px;
  margin-top: 10px;
}

.mail {
  padding-left: 10%;
}

.location{
  font-size: 14px;
}

.localisaton{
  font-size: 2px;
}

.card {
  height: 410px;
  background-size: cover !important;
  color: #1A2A3A;
  background-color: #F1F1F1;
  position: relative;
  border-radius: 5px;

  margin-right: 10px;
  border: solid 1px #D9D9D9;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 5px;
  left: 25px;
}


.card-description {
  position: absolute;
  left: 14px;
  margin-top: 30px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 16px;
}


.hr--small {
    margin: 10px auto;
    color: black;
}

hr, .hr--small, .hr--medium, .hr--large {
    border-width: 1px 0 0 0;
    width: 60px;
}

hr {
    clear: both;
    border-top: solid #1c1d1d;
    border-width: 1px 0 0;

    height: 0;
}

.footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #1A2A3A;
  justify-content: space-between;
}

.copyright{
  color: #9E9E9E;
  font-size: 12px;
  margin-left: 85px;
}

.infos{
  color: #2FC7AB;

}

.hello {
  color: #2FC7AB;
  font-size: 30px;
  margin-left: 13px;
  margin-right: 15px;
}

.phone{
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 85px;
}
