
<footer class="footer pt-40">
  <section class="copyright pb-30">
    <div class="container">
      <div class="col-md-6">
        <p class="text-left">Copyright &copy; <b>Venga</b> 2017. All Rights Reserved.</p>
      </div>
      <div class="col-md-6">
        <ul class="social text-right">
          <li><a target="_blank" href="https://www.instagram.com/_venga/"><i class="fa fa-instagram"></i></a></li>
          <li><a target="_blank" href="https://www.facebook.com/bevenga/"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>
