
    <div class="banner">


      <div class="banner-content">
        <h1>WELCOME VENGY !</h1>
        <p>It's time to enjoy a unique sport experience with your coach.</p>
      </div>
    </div>

    <h3 class="subsub text-center">Your next workout in Brussels</h3>

    <div class="container list-inline">
      <div class="card">
        <div class="card-category">Alex</div>
          <div class="list-inline">
          <!--   <div class="picture">
              <img class="card-user avatar avatar-large" src="images/Alex.png">
              <a class="card-link" href="#" ></a>
            </div> -->

            <div class="price list-inline">
              <%= image_tag("Alex2.png", :alt => "rss feed", :height => "103%", :width => "35%", class: "picture") %>
              <h4>47€ / hour</h4>
            </div>
          </div>
        <div class="card-description">
          <p>Certified personal trainer with 3+ years experience as a fitness coach. Specialised in functional and core muscles training. </p>
          <div class="contact list-inline">
            <p>0498/26.58.23</p>
            <div class="mail"><p>alex@gmail.com</p></div>
          </div>
        </div>
          <form class="moreif">
            <input class="btn moreinfo" type="button" value="More infos" onclick="window.location.href=''" />
          </form>
      </div>

      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">Nicolas</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>nicolas@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">Tom</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>tom@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="container list-inline">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">Alex</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>alex@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">John</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>john@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">Damien</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>damien@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="container list-inline">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('./Home1.jpg');">
        <div class="card-category">Lola</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>lola@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">
          <h3>Pierre</h3>
          <p class="location">Ixelles (15 km. around)</p>
        </div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>pierre@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">Léo</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>leo@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

      <div class="footer list-inline">
        <div class="copyright">
          <p>Copyright @ Venga 2016 - All rights reserved</p>
        </div>
        <div class="infos list-inline">
          <a href="https://www.facebook.com/bevenga">
            <i class="fa fa-facebook hello"></i>
          <a href="mailto:hello@be-venga.com?subject=Info Venga">
            <i class="fa fa-envelope hello" aria-hidden="true"></i>
          </a>
          <p class="phone">+32(0)498/26.58.23</p>
        </div>

      </div>



