
    <div class="banner" style="background: linear-gradient(-225deg, #2FC7AB 0%, #1A2A3A 95%), url('background.jpg');">
      <div class="banner-content">
        <div id="nav-button" class="fb-like" data-href="https://www.facebook.com/bevenga/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
        <h1>WELCOME VENGY !</h1>
        <p>It's time to enjoy a unique sport experience with your coach.</p>
      </div>
    </div>

    <h2 class="subsub text-center">Your next workout in Brussels</h2>

    <div class="container list-inline">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/Home1.jpg');">
        <div class="card-category">Virginie</div>

        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>virginie@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">Nicolas</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>nicolas@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">Tom</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>tom@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="container list-inline">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">Alex</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>alex@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">John</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>john@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">Damien</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>damien@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="container list-inline">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('./Home1.jpg');">
        <div class="card-category">Lola</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>lola@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">
          <h3>Pierre</h3>
          <p class="location">Ixelles (15 km. around)</p>
        </div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>pierre@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>

      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-background.jpeg');">
        <div class="card-category">Léo</div>
        <div class="card-description">
          <h2>Paillard's home</h2>
          <div class="contact list-inline">
            <p>0499/17.23.14</p>
            <div class="mail"><p>leo@gmail.com</p></div>
          </div>
        </div>
        <img class="card-user avatar avatar-large" src="app/assets.images/papillard.jpeg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>



